<h1>My Play List</h1>
<table class="table table-hover">
    <thead>
        <td>Id</td>
        <td>Title</td>
    </thead>
    <tbody>
        <tr *ngFor="#video of videos" (click)="loadVideo(video)">
            <td>{{ video.id }}</td>
            <td><a href="{{videoLinkToPlay}}" target="_blank">{{ video.title }}</a> </td>
        </tr>
    </tbody>
</table>


<!--<iframe id="ytplayer" type="text/html" width="640" height="390"-->
        <!--src={{videoLinkToPlay}}-->
        <!--frameborder="0"></iframe>-->